/FunctionInterface.class
/InterfaceCollection.class
/Laptop.class
/LaptopMain.class
/Mainclass.class
/MethodRef.class
/MethodRef1.class
/MethodRefMain.class
/Stringsss1.class
/ThreadFunction.class
/ThreadMain.class
/TreeSet.class
